.hero {
  width: auto;
  height: 550px;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .hero {
    display: none;
    margin: 40px;
    max-width: 600px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    max-height: 320px;
  }
  h1 {
    margin-bottom: 100px;
    max-width: 150px;
  }
  .hero video {
    margin: 20px;
    max-width: 100%;
  }
}
.hero video {
  width: 100%;
  height: auto;
  position: absolute;
  /* z-index: -1; */
}
.hero div {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.hero h1 {
  width: 890px;
  color: #fff;
  font-weight: 300;
  font-size: 39px;
  text-align: center;
  position: relative;
}
.hero button {
  width: 200px;
  height: 50px;
  align-self: center;
  font-size: 18px;
  letter-spacing: 3px;
}
.hero span {
  color: yellow;
}
