.card {
  background-color: aqua;
  height: 250px;
  max-width: 160px;
  margin: 20px 20px;
  border-radius: 16px;
  transition: 0.4s;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 450px) {
  .card {
    height: 200px;
  }
}

.card:hover {
  transform: scale(1.1);
}

/* p {
  display: none;
  font-size: 30px;
  font-weight: 700;
  font-family: "Segoe UI";
  line-height: 252px;
  text-align: start;
  color: #000;
  animation: fade 0.4s;
} */
/* 
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.card__info {
  height: 100%;
  /* width: 100%; */
  display: none;
  color: #000;
  animation: fade 0.4s;
  padding: 10px;
  border-radius: 16px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 3;
  }
}

.card:hover .card__info {
  display: block;
  background: rgba(15, 13, 25, 0.5);
  cursor: pointer;
  display: flex;
}
/* 
.card:hover p {
  display: block;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
} */
