.item {
  color: #9c9aa3;
  cursor: pointer;
}

.item h4 {
  margin-left: 20px;
  transition: 0.4s;
}

.item:hover h4 {
  color: #fff;
}

.card {
  background-color: aqua;
  height: 250px;
  max-width: 160px;
  margin: 20px 20px;
  border-radius: 16px;
  transition: 0.4s;
  background-position: center;
  background-size: cover;
}

@media only screen and (max-width: 450px) {
  .card {
    height: 200px;
  }
}

.item:hover .card {
  transform: scale(1.1);
}

.card__info {
  height: 100%;
  /* width: 100%; */
  display: none;
  color: #fff;
  animation: fade 0.4s;
  padding: 10px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-end;
}

.card__info h4,
p {
  margin: 3px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 3;
  }
}

.item:hover .card__info {
  display: flex;
  /* display: block; */
  background: rgba(15, 13, 25, 0.7);
  cursor: pointer;
}
