.book_review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  width: 100%;
  height: 100%;
  background-color: #312b45;
  margin: 50px 0px;
  padding: 30px;
  color: #fff;
  border-radius: 15px;
}

@media only screen and (max-width: 1000px) {
  .book_review {
    flex-wrap: wrap;
  }
}

.book_review img {
  max-width: 50%;
  max-height: 80%;
  box-shadow: 0px 0px 26px -1px rgba(0, 0, 0, 0.64);
  margin-right: 30px;
}

.book_rating_module {
  max-width: 600px;
}

.book_rating_module h2 {
  font-size: 30px;
}

.actions {
  display: flex;
  flex-direction: row;
  max-width: 930px;
  margin: 0 auto;
}

.actions p {
  display: flex;
  align-items: center;
  color: #9c9aa3;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s;
  margin: 10px;
}

.actions p:hover {
  color: #fff;
}

.actions .bookmark_icon {
  font-size: 30px;
}

.actions .delete_icon {
  font-size: 30px;
}

.book_description {
  max-width: 930px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  color: #fff;
  text-align: justify;
}

.book_description h2 {
  font-size: 40px;
  margin: 0px;
}

.book_description p {
  font-size: 16px;
}

.comments {
  color: #fff;
}

.comment {
  display: flex;
  flex-direction: row;
}
