.map_container {
  display: flex;
  margin: 20px;
}
@media only screen and (max-width: 1000px) {
  .map_container {
    margin: 0;
  }
}

.map {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
  height: 250px;
  border: 0;
}
