.form {
  max-width: 900px;
  width: 100%;
  height: auto;
  padding: 35px;
  margin: 50px auto;
  border: 2px solid #9b2141;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  box-shadow: 7px 7px 15px -1px rgba(70, 70, 70, 0.64);
}

.form h4 {
  margin-bottom: 20px;
  text-align: center;
}

.form .input {
  width: 100%;
  padding: 15px;
  font-size: 18px;
}

.form .category {
  width: 100%;
  padding: 15px;
}

.category .autocomplete {
  width: 100% !important;
}

.form button {
  align-self: flex-end;
  margin: 35px 0 25px;
}
.form label {
  align-self: flex-start;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .form {
    padding: 15px;
  }
}
